html {
    font-family: Arial;
    display: inline-block;
    margin: 0px auto;
    text-align: left;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 3rem;
}
h3 {
    margin-top: 0;
} 
p {
    font-size: 3rem;
}
div {
    word-wrap: break-word;
}
sup {
    vertical-align: middle;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.card {
    background-color: white;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 30rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.accessible {
    display: block;
    background-color: #4CAF50;
    padding: 16px;
}

.inaccessible {
    display: block;
    background-color: #f44336;
    padding: 16px;
}

.target_status {
    color: white;
    margin: 0;
}